.input {
  position: relative;
  flex-grow: 3;
  min-width: 250px;
}

.input__field {
  height: 50px;
  padding-right: 50px;
}

.input__button {
  position: absolute;
  right: 10px;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}